<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Flowshop Solver | omega_coder</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="chart" id="bargraph">
          	<script>
                var graphs = {{ plot | safe  }};
                Plotly.plot('bargraph', graphs, {});
            </script>
		  </div>
        </div>
      </div>
    </div>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  </body>
</html>
